/*Buttons*/

@charset "UTF-8";
h1 {
  color: #7d7d7f;
  text-align: center;
}

.subContainer{
    margin-bottom: 20px;
    width: 100%;
}

.subContainer .h1{
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.subContainer #squareButtons {
    width: 100%;
    text-align: center;
}

#username {
	margin: 20px;
}

#squareButtons {
	text-align: center;
	margin: 0px;
}

#squareButtons a {
	padding-top: 15px;
	width: 100px;
  	height: 60px;
 	border-color: #eeeeee;
 	border-radius: 8px;
 	margin: 20px;
}

/*Users*/
.container-fluid #squareProfile {
    width: 100%;
}

.subContainer #squareProfile {
    width: 100%;
    display: flex;

}

#squareProfile .col-5 {
 	border: solid #eeeeee;
 	border-width: 1px;
 	border-radius: 8px;
    margin: 20px;
}

#squareProfile div {
    font-size: 8px;
	padding: 5px;

}

#squareProfile p {
    margin-right: 50px;
}

