<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.3.1/css/all.css}"
	  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/discgolf/discGolfHome.css}">
<title>Library App Home</title>

</head>
<body>
	<div th:replace="fragments/navbars/libraryNavbar :: navbar"></div>

<br>
<br>
<div class="container">
	<div class="subContainer">
		<h1>Disc Golf Application</h1>
		<div id="username">
			<b>Username:</b> <span sec:authentication="principal.username"></span>
		</div>
	</div>
	<div class="subContainer">
		<div id="squareButtons" class="wrap">
			<a class="btn" href="#" th:href="@{/discgolf/courses}">Courses</a>
			<a class="btn" href="#" th:href="@{/discgolf/rounds/{id}(id=${userId})}">Rounds</a>
			<a class="btn" href="#" th:href="@{/library/users}">Users</a>
			<a class="btn" href="#" th:href="@{/logout}">Logout</a>
		</div>
	</div>

	<div class="subContainer">
			<div id="squareProfile" class="row justify-content-around">
				<div class="col-5" th:each="user : ${users}">
					<div class="row">
						<div class="col-4">
								<h6 th:text="${user.name}"></h6>
							<p>
								<label>Rounds Played: [[${user.roundsPlayed}]]</label>
							</p>
							<p>
								<label>Holes played: [[${user.holes}]]</label>
							</p>
							<p>
								<label>Average per hole: [[${#numbers.formatDecimal(user.playerAverage, 0, 2)}]]</label>
							</p>
							<p>
								<label>Aces: [[${user.aces}]]</label>
							</p>
						</div>
						<div class="col-6">
							<div class="container-fluid">
								<canvas th:userId="${user.userId}" th:id="myChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

	<script th:inline="javascript">
    	let userInfoList = /*[[${users}]]*/ {};
	</script>
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:src="@{/js/discgolf/mainUsers.js}"></script>
</body>
</html>