<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/discgolf/course.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/discgolf/discGolfNavbar.css}">
    <title>New Course</title>

</head>
<body>
<div th:replace="fragments/navbars/libraryNavbar :: navbar"></div>
<div class="container">
    <h2>Update Existing Course</h2>
    <hr>
    <div id="alert" class="alert alert-warning alert-dismissible date show" role="alert" th:text="${failed}" th:if="${failed}"></div>
    <div class="row">
        <div class="col-sm-12">
            <form action="#" th:action="@{/discgolf/saveCourse}" th:object="${course}"
                  method="POST">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <input type="text" th:field="*{name}"
                           placeholder="Course name" class="form-control mb-4 col-4">
                </div>
                <th:block  th:each="par : ${holeList}">
                    <div class="container">
                        <div id="parRow" class="row g-0">
                            <div class="col">
                                <label th:text="'Hole: ' + ${par.number}"></label>
                                <input type="text" th:name="parValues" th:value="${par.par}" placeholder="'# ' + ${par.par}">
                            </div>

                        </div>
                    </div>
                </th:block>
                <button type="submit" class="btn btn-info col-2">Save Course</button>
            </form>
        </div>
        <!--			<div class="col-sm-6">-->
        <!--				<h4>How to add a player</h4>-->
        <!--				<p>-->
        <!--					Add player name and start and end dates, then when assigning an employee to a project, tick the-->
        <!--					project box and add the dates this employee will work on this project. You can add multiple projects-->
        <!--					to one employee.-->
        <!--				</p>-->
        <!--				<p>-->
        <!--					Click Save Employee once all information is added and projects are selected.-->
        <!--				</p>-->
        <!--			</div>-->
    </div>
    <hr>
    <a th:href = "@{/discgolf/courses}">Back to Course List</a>
    <hr>
</div>
<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/js/discgolf/course.js}"></script>
</body>
</html>